#user-input {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);

    width: 80vw;
    height: 50px;
    
    background: linear-gradient(45deg, #1a571f6c 0%, #55065366 100%);
    backdrop-filter: blur(10px);

    border: 3px solid #e9c1d9;
    border-radius: 6px;
    box-shadow: inset 0px 0px 8px #f85eba,
                0px 0px 15px #f85eba;

    display: grid;
    grid-template-columns: auto 4rem;
}

#user-input input {
    all:unset;

    position: relative;
    height: 100%;

    padding-left: 15px;
    font-size: 1.4rem;

    color: white;
}

#user-input button {
    all:unset;

    font-family: "Prompt", sans-serif;
    user-select: none; 

    position: relative;
    height: 100%;
    text-align: center;
    align-content: center;

    font-size: 2rem;
    cursor: pointer;
    
    color: white;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: inset 0px 0px 8px #f85eba,
                0px 0px 15px #f85eba;
}

#ai-response span {
    overflow: hidden;
    height: fit-content;
    color: white;
    z-index: 999;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 40vw;
    font-size: 1.4rem;
}