.bar > .girl {
    position: absolute;
    width: 75vh;
    bottom: 0;
    left: 10vw;
    animation: breath 2s ease-in-out infinite alternate;
}

.bar > .girl .avatar {
    width: 100%;
}

@keyframes breath {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(7px);
    }
}

.bar > .girl {
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-out .4s;
}
#game:has(.bar.girl-selected:not(.hidden)) .bar > .girl {
    opacity: 1;
    pointer-events: all;
}