<head>
    <link rel="stylesheet" href="config.css">
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="pages.css">

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-head-support@2.0.5"></script>
</head>
<body>
    <section class="page hidden" id="game" hx-get="pages/game/game.html" hx-trigger="load"></section>
    <section class="page hidden" id="end" hx-get="pages/end/end.html" hx-trigger="load"></section>
    <section class="page" id="home" hx-get="pages/home/home.html" hx-trigger="load"></section>
</body>